<!DOCTYPE html>
<html>
<head>
	<title>Pyrebase-Flask-Login</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <a href="/"><h2 class="inactive underlineHover"> Sign In </h2></a>
    <h2 class="active">Sign Up </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{{ url_for('static', filename = 'user.png') }}" id="icon" alt="User Icon" />
    </div>

    <form action="{{ url_for('create_bucket_endpoint') }}" method="POST">
        <label for="bucket_name">Bucket Name:</label>
        <input type="text" name="bucket_name" id="bucket_name">
        <input type="submit" value="Create Bucket">
      </form>

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
              <div class="alert alert-{{ category }}" role="alert">
                  {{ message }}
              </div>
          {% endfor %}
      {% endif %}
  {% endwith %}

  </div>
</div>
</body>
</html>
